{% extends "default.html.twig" %}

{% block title %}Résumé
{% endblock %}
{% block stylesheets %}
<link href="/static/css/summary.css" rel="stylesheet">
<link href="/static/css/header.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
	integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block body %}
{% include "header.html.twig" %}
<div class="container">
	<div class="work">
		<b class="modify">{% if User %}<i class="fa-solid fa-gear"></i>{% endif %}</b>
		{% if work.isNsfw == 1 %}
		<img src="data:image/png;base64,{{ Work.Image }}" class="blurred"/>
		{% else %}
		<img src="data:image/png;base64,{{ Work.Image }}"/>
		{% endif %}
		<p id="name">{{ Work.Name }}</p>
		<p id="summary">Résumé :</p>
		<p id="summary2">{{ Work.Summary }}</p>
		<p id="status"><u> Status </u> : {{ Work.Status }}</p>
		{% if Work.Category == "Series" %}
		<p id="episodes"><u> Nombre d'épisodes </u> : {{ Work.NbEpisodes }}</p>
		<p id="season"><u> Nombre de Saisons </u> : {{ Work.NbSeason }}</p>
		{% endif %}
		{% if Work.Category == "Livres" %}
		<p id="tome"><u> Nombre de Tomes </u> : {{ Work.NbTome }}</p>
		{% endif %}
		<p id="category"><u> Catégorie </u> : {{ Work.Category }}</p>
		<div class="tags">
			<p style="font-weight: bold; text-decoration: underline">Tags : </p>
			{% for tag in Work.Tags %}
			<p class="tag">{{ tag.name }}</p>
			{% endfor %}
		</div>	
	</div>
	<div class="listss">
		<h2>Ajouter à Mes Listes</h2>
		{% if SLs|length < 1 %} <p>Aucunes Listes</p>
		{% else %}
			{% for SL in SLs %}
			<ul>
				{% if SL.isAdded %}
					<li class="list" id="check" num="{{ SL.ID }}">
						<x>{{ SL.Name }}</x>
						<i class="fa-solid fa-check" title="Enlever de la liste ?"></i>
					</li>
				{% else %}
					<li class="list" id="no_check" num="{{ SL.ID }}">
						<x>{{ SL.Name }}</x>
						<i class="fa-solid fa-xmark" title="Ajouter à la liste ?"></i>
					</li>
				{% endif %}
			</ul>
			{% endfor %}
		{% endif %}
	</div>
	<div class="form" style="display: none;">
		<form enctype="multipart/form-data" action="/getImage?id={{ Work.ID }}" method="post">
			<p for="picture">Image : </p>
			<input type="file" id="picture" name="picture" accept="image/*"><i class="fa-solid fa-plus"></i></input>
			<input type="submit" value="get" hidden />
		</form>
		<form action="/mWork" method="post">
			<input type="text" id="id" name="id" value="{{ Work.ID }}" hidden></input>
			<p for="name">Titre : </p>
			<input type="text" id="name" name="name" value="{{ Work.Name }}"></input>
			<p for="summary">Résumé : </p>
			<textarea type="text" id="summary" name="summary">{{ Work.Summary }}</textarea>
			<p for="status">Status : </p>
			<input type="text" id="status" name="status" value="{{ Work.Status }}"></input>
			<p for="isnfsw">Contenu Mature?</p>
			<select type="isnsfw" id="isnsfw" name="isnsfw">
				<option value="0">Non</option>
				<option value="1">Oui</option>
			</select>
			<p for="category">Category : </p>
			<select list="category" id="category" name="category" required>
				<option value="">Ajouter une Catégorie</option>
				{% for Category in Categories %}
				<option value="{{ Category.ID }}">{{ Category.Name }}</option>
				{% endfor %}
			</select>
			<div class="part2" style="display: none;">
				<p for="episodes">Nombre d'épisodes : </p>
				<input type="text" id="episodes" name="episodes" value="{{ Work.NbEpisodes }}"></input>
				<p for="season">Nombre de Saisons : </p>
				<input type="text" id="season" name="season" value="{{ Work.NbSeason }}"></input>
			</div>
			<div class="part3" style="display: none;">
				<p for="tome">Nombre de Tomes : </p>
				<input type="text" id="tome" name="tome" value="{{ Work.NbTome }}"></input>
			</div>
			<div class="tagsM">
				{% for tag in Work.Tags %}
				<div class="tag">
					<select name="tag">
						<option value="{{ tag.id }}">{{ tag.name }}</option>
					</select>
					<p class="delete">supprimer</p>
				</div>
				{% endfor %}
			</div>
			<select class="NewTag">
				<option value="0">Ajouter un tag</option>
				{% for tag in Tags %}
				<option value="{{ tag.ID }}">{{ tag.Name }}</option>
				{% endfor %}
			</select>
			<div class="myBtn">
				<button type="submit">Valider</button>
			</div>
		</form>
		<div class="myBtn">
			<button class="cancel" style="visibility: hidden;">Annuler</button>
		</div>
	</div>
</div>
<div style="display: none;">
	{% for category in Categories %}
	<p class="categoriesI">{{ category.ID }}</p>
	<p class="categoriesN">{{ category.Name }}</p>
	{% endfor %}
	{% for tag in Tags %}
	<p class="tagI">{{ tag.ID }}</p>
	<p class="tagN">{{ tag.Name }}</p>
	{% endfor %}
</div>
<script src="/static/js/summary.js"></script>
{% endblock %}