{% extends "default.html.twig" %}

{% block title %}profil
{% endblock %}
{% block stylesheets %}
	<link href="/static/css/profil.css" rel="stylesheet">
	<link href="/static/css/header.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}
{% block body %}
	{% include "header.html.twig" %}
	<div class="container">
		<div class="nul"></div>
		<div class="userinfo">
			<img src="data:image/png;base64,{{ User1.picture }}"/>
			{% if User1.ID == IDuser %}
			<button id="toggleButton">
				<i class="fa-solid fa-pen"></i>
				Modifier ma photo de profil
			</button>
			{% endif %}
			<p id="name">{{ User1.username }}</p>
			{% if User1.ID == IDuser %}
				<button class="modify" style="padding: 10px 15px;">
					<i class="fa-solid fa-pen"></i>
					Modifier mes informations
				</button>
			{% else %}
				<button class="Sub" num="{{ User1.ID }}" style="padding: 10px 15px;">
					{% if linkP %}
						<i class="fa-solid fa-heart"></i>
						<t>Se désabonner</t>
					{% else %}
						<i class="fa-regular fa-heart"></i>
						<t>S'abonner</t>
					{% endif %}
				</button>
			{% endif %}
			<br/>
			<div class="subinfo">
				<div class="abo">
					<p for="subscribers">Abonnés</p>
					<p id="subscribers">{{ FW1|length }}</p>
				</div>
				<div class="abo">
					<p for="solunaslist">Listes</p>
					<p id="solunaslist">{{ SLs|length }}</p>
				</div>
				<div class="abo">
					<p for="following">Abonnements</p>
					<p id="following">{{ FW2|length }}</p>
				</div>
			</div>
		</div>
		<div class="formUser" style="display: none;">
			<form enctype="multipart/form-data" action="/getUserImage?id={{ User1.ID }}" method="post" style="display: none;">
				<p for="picture">Image :
				</p>
				<input type="file" id="picture" name="picture" accept="image/jpg, image/png"></input>
				<input type="submit" value="get" hidden/>
			</form>
			<form action="/mUser" method="post">
				<input type="text" id="id" name="id" value="{{User1.ID}}" hidden></input>
				<p for="name">Pseudo : </p>
				<input type="text" id="nameUser" name="name" value="{{ User1.username }}"></input>
				<p for="OP">Ancien Mot de passe : </p>
				<input type="password" id="OP" name="OP" value=""></input>
				<p for="NP">Nouveau Mot de passe : </p>
				<input type="password" id="NP" name="NP" value=""></input>
				<button type="submit">Valider</button>
			</form>
			<button class="cancel">Annuler</button>
		</div>
		<div class="Mylist" style="display: flex; flex-direction: column;">
			<div class="addList" style="font-size: 30px; 
			font-family: 'Hey Comic';">
				Mes Listes
				<button id="toggleButton">+</button>
			</div>
			<div class="FormList">
				<form id="myForm" class="Form_hidden" action="/addList" method="post">
					<p for="name">Nom :</p>
					<input type="text" id="nameList" name="name" required>
					<input type="submit" value="Soumettre" />
				</form>
			</div>
		<div class="List">
			{% if SLs|length < 1 %}
				<p>aucune Listes</p>
			{% else %}
				{% for SL in SLs %}
					<ul>
						<li><a href="/viewList?list={{ SL.ID }}">{{ SL.Name }}</a></li>
						<li>{{ SL.Works|length }}</li>
						<li>
							<div class="heart">
								<p>{{ SL.like|length }}</p>
								<i class="fa-solid fa-heart"></i>
							</div>
						</li>
						{% if User1.ID == IDuser %}
						<li class="View" num="{{ SL.ID }}">
							{% if SL.isPublic %}
								<i class="fa-solid fa-eye"></i>
							{% else %}
								<i class="fa-solid fa-eye-slash"></i>
							{% endif %}
						</li>
						{% endif %}
						{% if User1.ID == IDuser %}
							<li class="pen" num="{{ SL.ID }}">
								<i class="fa-solid fa-pen"></i>
							</li>
						{% else %}
							<li class="mtl" num="{{ SL.ID }}">
								{% if SL.isLike %}
									<i class="fa-solid fa-heart"></i>
								{% else %}
									<i class="fa-regular fa-heart"></i>
								{% endif %}
							</li>
						{% endif %}
						{% if User1.ID == IDuser %}
							<li>
								<a href="/deleteList?list={{ SL.ID }}">
									<i class="fa-solid fa-trash"></i>
								</a>
							</li>
						{% else %}
							<li class="mtf" num="{{ SL.ID }}">
								{% if SL.isFav %}
									<i class="fa-solid fa-star"></i>
								{% else %}
									<i class="fa-regular fa-star"></i>
								{% endif %}
							</li>
						{% endif %}
					</ul>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="MyLike" style="display: flex; flex-direction: column;">
		<div class="LKT"><p>Mes Listes Likés</p></div>
		<div class="List_like">
			{% if SLl|length < 1 %}
				<p>aucune Listes</p>
			{% else %}
				{% for SL in SLl %}
					<ul num="{{ SL.ID }}">
						<li id="pic"><img src="data:image/png;base64,{{ SL.userpicture }}"/></li>
						<li><a href="/displayProfil?id={{ SL.userID }}">{{ SL.username }}</a></li>
						<li><a href="/viewList?list={{ SL.ID }}">{{ SL.Name }}</a></li>
						<li>{{ SL.Works|length }}</li>
						<li>
							<div class="heart">
								<p>{{ SL.like|length }}</p>
								<i class="fa-solid fa-heart"></i>
							</div>
						</li>
						{# {% if User1.ID == IDuser %} #}
						<li class="ltl" num="{{ SL.ID }}">
							{% if SL.isLike %}
								<i class="fa-solid fa-heart" title="Délikez la liste?"></i>
							{% else %}
								{# {{ SL.isLike }} #}
								<i class="fa-regular fa-heart" title="Likez la liste?"></i>
							{% endif %}
						</li>
						<li class="ltf" num="{{ SL.ID }}">
							{% if SL.isFav %}
								<i class="fa-solid fa-star" title="Retirez des favoris?"></i>
							{% else %}
								<i class="fa-regular fa-star" title="Ajouter aux favoris?"></i>
							{% endif %}
						</li>
						{# {% endif %} #}
					</ul>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="MyFavorites" style="flex-direction: column;">
	<div class="LFT">
		<p>Mes Listes Favorites</p>
	</div>
	<div class="List_Favorites">
		{% if SLf|length < 1 %}
			<p>aucune Listes</p>
		{% else %}
			{% for SL in SLf %}
				<ul>
						<li id="pic"><img src="data:image/png;base64,{{ SL.userpicture }}"/></li>
						<li><a href="/displayProfil?id={{ SL.userID }}">{{ SL.username }}</a></li>
						<li><a href="/viewList?list={{ SL.ID }}">{{ SL.Name }}</a></li>
						<li>{{ SL.Works|length }}</li>
						<li>
							<div class="heart">
								<p>{{ SL.like|length }}</p>
								<i class="fa-solid fa-heart"></i>
							</div>
						</li>
						{# {% if User1.ID == IDuser %} #}
						<li class="ftl" num="{{ SL.ID }}">
							{% if SL.isLike %}
								<i class="fa-solid fa-heart" title="Délikez la liste?"></i>
							{% else %}
								<i class="fa-regular fa-heart" title="Likez la liste?"></i>
							{% endif %}
						</li>
						<li class="ftf" num="{{ SL.ID }}">
							{% if SL.isFav %}
								<i class="fa-solid fa-star" title="Retirez des favoris?"></i>
							{% else %}
								<i class="fa-regular fa-star" title="Ajouter aux favoris?"></i>
							{% endif %}
						</li>
						{# {% endif %} #}
					</ul>
			{% endfor %}
		{% endif %}
	</div>
</div>
	<div class="Myfollowers">
		<div class="FollowersT">
			<p>Mes Abonnés</p>
		</div>
		<div class="Followers">
			{% for abo in FW1 %}
			<div class="abo" num="{{ abo.UserID }}">
			<img src="data:image/png;base64,{{ abo.SubcriberPicture }}"></img>
			<a href="/displayProfil?id={{ abo.UserID }}"><p>{{ abo.SubcriberName }}</p></a>
			{% if abo.UserID != IDuser %}
				{% if abo.isLink %}
					<button>Ne Plus Suivre</button>
				{% else %}
					<button>Suivre</button>
				{% endif %}
			{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="Myfollowing">
		<div class="FollowingT">
			<p>Mes Abonnements</p>
		</div>
		<div class="Following">
			{% for abo in FW2 %}
				<div class="abo" num="{{ abo.SubcriberID }}">
				<img src="data:image/png;base64,{{ abo.UserPicture }}"></img>
				<a href="/displayProfil?id={{ abo.SubcriberID }}"><p>{{ abo.UserName }}</p></a>
				{% if abo.SubcriberID != IDuser %}
					{% if abo.isLink %}
						<button>Ne Plus Suivre</button>
					{% else %}
						<button>Suivre</button>
					{% endif %}
				{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>

<fieldset class="custom-fieldset">
<ul class="selection">
	<li>
		<div class="containall" id="infos">
			<div class="symbole" id="infos">
				<p class="fa-solid fa-user"></p>
			</div>
			<p>Informations</p>
		</div>
	</li>
	<li>
		<div class="containall" id="listM">
			<div class="symbole" id="listM">
				<p class="fa-solid fa-clipboard-list"></p>
			</div>
			<p>Mes listes</p>
		</div>
	</li>
	<li>
		<div class="containall" id="listL">
			<div class="symbole" id="listL">
				<p class="fa-solid fa-heart"></p>
			</div>
			<p>Mes listes likés</p>
		</div>
	</li>
	<li>
		<div class="containall" id="listF">
			<div class="symbole" id="listF">
				<p class="fa-solid fa-star"></p>
			</div>
			<p>Mes listes favorites</p>
		</div>
	</li>
	<li>
		<div class="containall" id="follow">
			<div class="symbole" id="follow">
				<p class="fa-solid fa-user-plus"></p>
			</div>
			<p>Mes abonnées</p>
		</div>

	</li>
	<li>
		<div class="containall" id="followi">
			<div class="symbole" id="followi">
				<p class="fa-solid fa-users"></p>
			</div>
			<p>Mes abonnements</p>
		</div>
	</li>
</ul>
</fieldset>
</div>
<script src="/static/js/profil.js"></script>
<script src="/static/js/home.js"></script>
{% endblock %}
