{% extends "default.html.twig" %}

{% block title %}profil
{% endblock %}
{% block stylesheets %}
	<link href="/static/css/profil.css" rel="stylesheet">
	<link href="/static/css/header.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}
{% block body %}
	{% include "header.html.twig" %}
	<div class="container">
		<div class="userinfo">
			<img src="data:image/png;base64,{{ User.picture }}"/>
			<button id="toggleButton">
				<i class="fa-solid fa-pen"></i>
				Modifier ma photo de profil
			</button>
			<p id="name">{{ User.username }}</p>
			{% if User.ID == IDuser %}
				<button class="modify" style="padding: 10px 15px;">
					<i class="fa-solid fa-pen"></i>
					Modifier mes informations
				</button>

			{% endif %}
			<br/>
			<div class="subinfo">
				<div class="abo">
					<p for="subscribers">Abonnés</p>
					<p id="subscribers">0</p>
				</div>
				<div class="abo">
					<p for="solunaslist">Listes</p>
					<p id="solunaslist">{{ SLs|length }}</p>
				</div>
				<div class="abo">
					<p for="following">Abonnements</p>
					<p id="following">0</p>
				</div>
			</div>
		</div>
		<div class="formUser" style="display: none;">
			<form enctype="multipart/form-data" action="/getUserImage?id={{ User.ID }}" method="post" style="display: none;">
				<p for="picture">Image :
				</p>
				<input type="file" id="picture" name="picture" accept="image/jpg, image/png"></input>
			<input type="submit" value="get" hidden/>
		</form>
		<form action="/mUser" method="post">
			<input type="text" id="id" name="id" value="{{User.ID}}" hidden></input>
		<p for="name">Pseudo :
		</p>
		<input type="text" id="nameUser" name="name" value="{{ User.username }}"></input>
	<p for="OP">Ancien Mot de passe :
	</p>
	<input type="password" id="OP" name="OP" value=""></input>
<p for="NP">Nouveau Mot de passe :
</p>
<input type="password" id="NP" name="NP" value=""></input><button type="submit">Valider</button></form><button class="cancel">Annuler</button></div><div class="Mylist" style="display: flex;flex-direction: column;"><div class="addList" style="
			    font-size: 30px;
			    font-family: 'Hey Comic';
			">Mes Listes<button id="toggleButton">+</button></div><div class="FormList"><form id="myForm" class="Form_hidden" action="/addList" method="post">
<p for="name">Nom :</p>
<input type="text" id="nameList" name="name" required>
<input type="submit" value="Soumettre" />
</form>
</div>
<div class="List">
	{% if SLs|length < 1 %}
		<p>aucune Listes</p>
	{% else %}
		{% for SL in SLs %}
			<ul>
				<li>{{ SL.Name }}</li>
				<li>{{ SL.Works|length }}</li>
				<li>
					<div class="heart">
						<p>0</p>
						<i class="fa-solid fa-heart"></i>
					</div>
				</li>

				<li class="View" num="{{ SL.ID }}">
					{% if SL.isPublic %}
						<i class="fa-solid fa-eye"></i>
					{% else %}
						<i class="fa-solid fa-eye-slash"></i>
					{% endif %}
				</li>
				<li>
					<a href="/viewList?list={{ SL.ID }}">
						<i class="fa-solid fa-pen"></i>
					</a>
				</li>
				<li>
					<a href="/deleteList?list={{ SL.ID }}">
						<i class="fa-solid fa-trash"></i>
					</a>
				</li>
			</ul>

		{% endfor %}
	{% endif %}
</div></div><div class="MyLike"><div class="LKT">Mes Listes Likés</div><div class="List_like">{% if SLl|length < 1 %}
<p>aucune Listes</p>{% else %}
{% for SL in SLl %}
	<ul>
		<li>{{ SL.username }}</li>
		<li>{{ SL.Name }}</li>
		<li>Nombre oeuvres</li>
		<li>Nombre likes</li>
		<li>
			<a href="/toggleLike?list={{ SL.ID }}">Trash</a>
		</li>
		<ul>
		{% endfor %}
	{% endif %}
</div></div><div class="MyFavorites">
<div class="LFT">
	Mes Listes Favorites
</div>
<div class="List_Favorites">
	{% if SLf|length < 1 %}
		<p>aucune Listes</p>
	{% else %}
		{% for SL in SLf %}
			<ul>
				<li>{{ SL.username }}</li>
				<li>{{ SL.Name }}</li>
				<li>Nombre oeuvres</li>
				<li>Nombre likes</li>
				<li>
					<a href="/toggleFavorite?list={{ SL.ID }}">Trash</a>
				</li>
				<ul>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="Myfollowers">
		<div class="FollowersT">
			Mes Abonnés
		</div>
		<div class="Followers">
			<img src=""></img>
		<p>Nom</p>
		<button>Suivre</button>
	</div>
</div>
<div class="Myfollowing">
	<div class="FollowingT">
		Mes Abonnements
	</div>
	<div class="Following">
		<img src=""></img>
	<p>Nom</p>
	<button>Ne Plus Suivre</button>
</div></div><fieldset class="custom-fieldset">
<ul class="selection">
	<li>
		<div class="containall" id="infos">
			<div class="symbole" id="infos">
				<p class="fa-solid fa-user"></p>
			</div>
			<p>Informations</p>
		</div>
	</li>
	<li>
		<div class="containall" id="listM">
			<div class="symbole" id="listM">
				<p class="fa-solid fa-clipboard-list"></p>
			</div>
			<p>Mes listes</p>
		</div>
	</li>
	<li>
		<div class="containall" id="listL">
			<div class="symbole" id="listL">
				<p class="fa-solid fa-heart"></p>
			</div>
			<p>Mes listes likés</p>
		</div>
	</li>
	<li>
		<div class="containall" id="listF">
			<div class="symbole" id="listF">
				<p class="fa-solid fa-star"></p>
			</div>
			<p>Mes listes favorites</p>
		</div>
	</li>
	<li>
		<div class="containall" id="follow">
			<div class="symbole" id="follow">
				<p class="fa-solid fa-user-plus"></p>
			</div>
			<p>Mes abonnées</p>
		</div>

	</li>
	<li>
		<div class="containall" id="followi">
			<div class="symbole" id="followi">
				<p class="fa-solid fa-users"></p>
			</div>
			<p>Mes abonnements</p>
		</div>
	</li>
</ul>
</fieldset>
</div>
<script src="/static/js/profil.js"></script>
<script src="/static/js/home.js"></script>
{% endblock %}
