{% extends "default.html.twig" %}

{% block title %}profil
{% endblock %}
{% block stylesheets %}
	<link href="/static/css/profil.css" rel="stylesheet">
{% endblock %}
{% block body %}
	<div class="container">
		<div class="userinfo">
			<img src = "data:image/png;base64,{{ User.picture }}"/>
			<button id="toggleButton">+</button>
			<p id="name">{{ User.username }}</p>
			{% if User.ID == IDuser %}
				<button class="modify">Modifier</button>
			{% endif %}
			<br/>
			<label for="subscribers">Abonnés</label>
			<p id="subscribers">0</p>
			<label for="solunaslist">Listes</label>
			<p id="solunaslist">0</p>
			<label for="following">Abonnements</label>
			<p id="following">0</p>
		</div>
		<div class="formUser" style="display: none;">
			<form enctype="multipart/form-data" action="/getUserImage?id={{ User.ID }}" method="post" style="display: none;">
				<label for="picture">Image : </label>
				<input type="file" id="picture" name="picture" accept="image/jpg, image/png"></input>
				<input type="submit" value="get" hidden/>
			</form>
			<form action="/mUser" method="post">
			<input type="text" id="id" name="id" value="{{User.ID}}" hidden></input>
			<label for="name">Pseudo : </label>
			<input type="text" id="nameUser" name="name" value="{{ User.username }}"></input>
			<label for="OP">Ancien Mot de passe : </label>
			<input type="password" id="OP" name="OP" value=""></input>
			<label for="NP">Nouveau Mot de passe : </label>
			<input type="password" id="NP" name="NP" value=""></input>
			<button type="submit">Valider</button>
			</form>
			<button class="cancel">Annuler</button>
		</div>
		<div class="listes">
			<h2 id="title">Listes</h2>
			<div class="addList">
				Mes Listes
				<button id="toggleButton">+</button>
			</div>
			<div class="FormList">
				<form id="myForm" class="Form_hidden" action="/addList" method="post">
				<label for="name">Nom :</label>
				<input type="text" id="nameList" name="name" required>
				<input type="submit" value="Soumettre">
        		</form>
			</div>
			<div class="List">
				<ul>
					<li>Nom liste</li>
					<li>Nombre oeuvres</li>
					<li>Nombre likes</li>
					<li>Eye</li>
					<li>Pen</li>
					<li>Trash</li>
				<ul>
			</div>
			<div class="LKT">
				Mes Listes Likés
			</div>
			<div class="List_like">
				<ul>
					<li>Nom Personne</li>
					<li>Nom liste</li>
					<li>Nombre oeuvres</li>
					<li>Trash</li>
				<ul>
			</div>
			<div class="LFT">
				Mes Listes Favorites
			</div>
			<div class="List_Favorites">
				<ul>
					<li>Nom Personne</li>
					<li>Nom liste</li>
					<li>Nombre oeuvres</li>
					<li>Trash</li>
				<ul>
			</div>
			<div class="FollowersT">
				Mes Abonnés
			</div>
			<div class="Followers">
				<img src=""></img>
				<p>Nom</p>
				<button>Suivre</button>
			</div>
			<div class="FollowingT">
				Mes Abonnements
			</div>
			<div class="Following">
				<img src=""></img>
				<p>Nom</p>
				<button>Ne Plus Suivre</button>
			</div>
		</div>
	</div>
	<script src="/static/js/profil.js"></script>
{% endblock %}